<h2>Sign UP</h2>
<div class="panel-body">

    <form action='/users' method='post'>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[first_name]" placeholder=" First name">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[last_name]" placeholder=" Last name">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[email]" placeholder=" Email">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='text' name="user[username]" placeholder=" Username">
      </fieldset>
      <fieldset class="form-group">
        <input class="form-control" type='password' name="user[password]" placeholder=" Password">
      </fieldset>
      <button class="btn btn-primary" type='submit'>Register Me</button>
    </form>
  </div>
